{{!-- Display ALL Blogs on the Home Page --}}

<div>
    <div class="blogDetails">
        <a class="blogLink" href=" /blogs/{{blog_id}}">
            <h2>{{blog_title}}</h2>
        </a>
        <p class="username">{{user.username}}</p>
        <p class="datePosted">Date Posted: {{blog_post_date}}</p>
        <h3 class="blogContent">{{blog_content}}</h3>
    </div>
</div>